<h1><center>Laboratorio 4: Spark y EDA</center></h1>

<center><strong>MDS7202: Laboratorio de Programación Científica para Ciencia de Datos - Primavera 2024</strong></center>

### Cuerpo Docente:

- Profesores: Ignacio Meza, Sebastián Tinoco
- Auxiliar: Eduardo Moya
- Ayudantes: Nicolás Ojeda, Melanie Peña, Valentina Rojas

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no serán revisados

- Nombre de alumno 1: Angelo León
- Nombre de alumno 2: Damián De Aguiar

### **Link de repositorio de GitHub:** [Repositorio](https://github.com/...../)

## Reglas:

- **Grupos de 2 personas**
- Fecha de entrega: 6 días de plazo con descuento de 1 punto por día. Entregas Jueves a las 23:59.
- Instrucciones del lab el viernes a las 16:15 en formato online. Asistencia no es obligatoria.
- <u>Prohibidas las copias</u>. Cualquier intento de copia será debidamente penalizado con el reglamento de la escuela.
- Tienen que subir el laboratorio a u-cursos y a su repositorio de github. Labs que no estén en u-cursos no serán revisados. Recuerden que el repositorio también tiene nota.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente serán respondidos por este medio.
- Pueden usar cualquier material del curso que estimen conveniente.

### Temas a tratar

- Introducción al manejo y análisis de grandes volúmenes de datos por medio de la libreria `pyspark`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pyspark` para manejar datos tabulares de gran volúmen.
- Crear gráficos para el desarrollo de Análisis de Datos Exploratorios (EDA).

### Datos del Lab

- Base de datos: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/datos_lab_spark.parquet
- Objeto serializado: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/object.pkl

## 1. Preguntas Teóricas [12 puntos]
(2 por pregunta)

<center>
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2018-08/1/17/enhanced/buzzfeed-prod-web-05/anigif_enhanced-9173-1533160033-1.gif" width=350 />

Responda en  máximo 5 líneas las siguientes preguntas:
1. ¿Qué es Apache Spark y cuáles son sus principales ventajas sobre Pandas?
2. ¿Qué es un RDD en Spark? Describe una de sus principales características. ¿Qué tienen que ver con los dataframes?.
3. Diferencia entre transformaciones y acciones en Spark. Proporciona ejemplos de cada una. ¿Qué ocurre internamente cuando se ejecuta una acción?
4. Explica la importancia del particionamiento en Spark y cómo afecta el rendimiento del procesamiento de datos.
5. ¿Cuáles son las funciones de Spark Driver y Spark Executor?
6. ¿Qué es el Catalyst Optimizer en Apache Spark y cuál es su función principal en la optimización de consultas SQL?

**Respuestas**

> Respuestas aquí
Copy paste de gepeto:
Aquí están las respuestas a cada una de tus preguntas sobre Apache Spark:

##### 1. ¿Qué es Apache Spark y cuáles son sus principales ventajas sobre Pandas?

**Apache Spark** es un framework de procesamiento distribuido de código abierto diseñado para el procesamiento de grandes volúmenes de datos (Big Data). Se utiliza principalmente para computación en clústeres y permite realizar análisis de datos rápidos y distribuidos a gran escala.

**Ventajas de Spark sobre Pandas**:
- **Escalabilidad**: Spark puede manejar datasets mucho más grandes que Pandas, ya que distribuye el procesamiento entre múltiples nodos en un clúster, mientras que Pandas es más adecuado para datos que caben en memoria.
- **Procesamiento distribuido**: Spark permite el procesamiento en paralelo en múltiples máquinas, lo que mejora el rendimiento para grandes volúmenes de datos, mientras que Pandas es más adecuado para un solo nodo.
- **Tolerancia a fallos**: Spark tiene mecanismos para gestionar fallos en el procesamiento distribuido, mientras que Pandas depende de la estabilidad del hardware local.
- **Almacenamiento en memoria**: Spark optimiza el procesamiento al almacenar datos intermedios en memoria, lo que mejora el rendimiento, mientras que Pandas solo utiliza la memoria local y puede volverse ineficiente con grandes datasets.

##### 2. ¿Qué es un RDD en Spark? Describe una de sus principales características. ¿Qué tienen que ver con los DataFrames?

**RDD (Resilient Distributed Dataset)** es la estructura de datos fundamental en Spark que representa una colección inmutable de objetos distribuidos en un clúster. Los RDD permiten el procesamiento de datos de manera distribuida y eficiente.

Una de sus principales características es que son **inmutables**, lo que significa que no se pueden modificar una vez creados. En lugar de modificar un RDD, se pueden crear nuevos RDD a partir de transformaciones en los datos originales.

En relación con los **DataFrames**, estos son una abstracción más avanzada y eficiente que los RDD. Los DataFrames están optimizados para operaciones tabulares y ofrecen un rendimiento superior gracias al uso del Catalyst Optimizer y a la ejecución más optimizada para las consultas SQL. Los DataFrames son, internamente, una capa de abstracción sobre los RDD, que permite un procesamiento más fácil y rápido de los datos.

##### 3. Diferencia entre transformaciones y acciones en Spark. Proporciona ejemplos de cada una. ¿Qué ocurre internamente cuando se ejecuta una acción?

- **Transformaciones**: Son operaciones que definen un nuevo RDD a partir de uno existente. Las transformaciones son *lazy*, lo que significa que no se ejecutan inmediatamente, sino que se acumulan en un *plan de ejecución* hasta que se llama una acción. Ejemplos:
  - `map()`: Transforma cada elemento de un RDD según una función.
  - `filter()`: Filtra los elementos de un RDD según un criterio.

- **Acciones**: Son operaciones que devuelven un valor concreto después de procesar el RDD, desencadenando la ejecución de las transformaciones acumuladas. Ejemplos:
  - `collect()`: Devuelve todos los elementos del RDD al driver.
  - `count()`: Devuelve el número de elementos en el RDD.

Internamente, cuando se ejecuta una acción, Spark **construye el DAG (Directed Acyclic Graph)** de las transformaciones y las ejecuta en los nodos del clúster, paralelizando el procesamiento y aplicando optimizaciones como la combinación de operaciones.

##### 4. Explica la importancia del particionamiento en Spark y cómo afecta el rendimiento del procesamiento de datos.

El **particionamiento** en Spark es crucial porque determina cómo se dividen y distribuyen los datos entre los nodos del clúster. Un particionamiento adecuado permite paralelizar eficientemente las tareas, mientras que un mal particionamiento puede generar cuellos de botella.

- **Impacto en el rendimiento**:
  - Un **particionamiento insuficiente** (demasiados datos en pocas particiones) sobrecarga ciertos nodos, ralentizando el procesamiento.
  - Un **particionamiento excesivo** (demasiadas particiones pequeñas) provoca una sobrecarga de tareas y comunicación entre nodos, lo que también reduce el rendimiento.
  
   La clave es equilibrar el número de particiones con la cantidad de datos y los recursos del clúster. Funciones como `repartition()` o `coalesce()` se utilizan para ajustar las particiones de los RDD o DataFrames.

##### 5. ¿Cuáles son las funciones de Spark Driver y Spark Executor?

- **Spark Driver**: Es el componente principal que coordina todo el trabajo en una aplicación Spark. Su función principal es:
  - Mantener la **lógica del programa** Spark.
  - **Distribuir tareas** a los ejecutores en los nodos del clúster.
  - **Rastrear el progreso** de las tareas y recopilar los resultados.

- **Spark Executor**: Son procesos que se ejecutan en los nodos de trabajo del clúster y llevan a cabo las tareas que les asigna el driver. Sus funciones principales son:
  - **Ejecutar las tareas** asignadas sobre los datos particionados.
  - **Almacenar los datos intermedios** en memoria o disco según sea necesario.
  - **Enviar los resultados** de vuelta al driver.

##### 6. ¿Qué es el Catalyst Optimizer en Apache Spark y cuál es su función principal en la optimización de consultas SQL?

El **Catalyst Optimizer** es el motor de optimización de consultas SQL en Spark. Su función principal es optimizar los planes de ejecución que se generan cuando se ejecutan consultas SQL o se realizan operaciones sobre DataFrames.

El Catalyst Optimizer realiza varias optimizaciones, como:
- **Análisis lógico**: Comprende el tipo de datos y las operaciones que se desean realizar.
- **Optimización del plan lógico**: Simplifica las consultas eliminando redundancias o aplicando reglas de optimización como la selección de proyecciones más eficientes.
- **Generación de un plan físico**: Determina cómo ejecutar las operaciones en el clúster.
- **Optimización basada en coste**: Evalúa diferentes estrategias de ejecución para seleccionar la que tenga un mejor rendimiento.

Gracias al Catalyst Optimizer, las operaciones sobre DataFrames y SQL en Spark son mucho más eficientes que las operaciones sobre RDDs.

## Parte Práctica

<center>
<img src="https://pbs.twimg.com/ad_img/1285681293590749189/kDckYy6Z?format=png&name=900x900" width=350 />

Juan Carlos Bodoque, el famoso periodista y empresario, decidió diversificar su portafolio de negocios y crear su propia plataforma de e-commerce. Después de varios años de investigar y analizar el mercado financiero, finalmente logró fundar Bodoque E-Shop con el objetivo de ofrecer a sus clientes una experiencia personalizada y confiable en sus transacciones.

Sin embargo, con la llegada de los aliens al planeta Tierra, aparecen nuevos desafíos para el negocio. Por ello, Bodoque decide invertir en un equipo de expertos en tecnología y comercio interplanetario, para que Bodoque Shop implemente las últimas innovaciones en servicio al cliente para garantizar la satisfacción y fidelización de sus nuevos clientes.

El primer objetivo de Bodoque E-Shop será la hacer un análisis exploratorio para entender mejor el comportamiento de los usuarios en la plataforma. Para ello Bodoque les hace entrega de un extenso dataset en el que se registran las actividades que han realizado sus clientes durante los últimos meses. A continuación se presenta un diccionario de variables que levanto el equipo de consultores interplanetarios de Bodoque:

1. `Transaction ID`: A unique identifier for each transaction.
2. `Customer ID`: A unique identifier for each customer.
3. `Transaction Amount`: The total amount of money exchanged in the transaction in USD.
4. `Transaction Date`: The date and time when the transaction took place.
5. `Payment Method`: The method used to complete the transaction (e.g., credit card, PayPal, etc.).
6. `Product Category`: The category of the product involved in the transaction.
7. `Quantity`: The number of products involved in the transaction.
8. `Customer Age`: The age of the customer making the transaction.
9. `Customer Location`: The geographical location of the customer.
10. `Device Used`: The type of device used to make the transaction (e.g., mobile, desktop).
11. `IP Address`: The IP address of the device used for the transaction.
Shipping Address: The address where the product was shipped.
12. `Billing Address`: The address associated with the payment method.
13. `Is An Alien`: A binary indicator of whether customer is an alien.
14. `Account Age Days`: The age of the customer's account in days at the time of the transaction.
15. `Transaction Hour`: The hour of the day when the transaction occurred.

### Importamos librerias utiles y cargamos los datos😸

In [1]:
# Todas las cosas coon pip las tienes que instalar en el terminal antes de ejecutar el código
#!pip install pyspark
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [10]:
# Libreria Core del lab.
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StringType, IntegerType, FloatType
from pyspark.sql.functions import when, rand, col, sum
from pyspark.sql.types import FloatType, IntegerType, BooleanType


#Libreria para plotear
#!pip install --upgrade plotly
#!pip install missingno
import matplotlib.pyplot as plt
import plotly.express as px

Cargue los datos usando **pyspark**

> Nota: Puede ser util el siguiente [enlace](https://www.oracle.com/cl/java/technologies/downloads/#jdk22-windows)

In [ ]:
# Si usted está utilizando Colabolatory le puede ser útil este código para cargar los archivos.
""" try:
    from google.colab import drive
    drive.mount("/content/drive")
    path = '/content/drive/MyDrive/LabdeProgra/Lab4-Pyspark y visualizaciones'
except:
    print('Ignorando conexión drive-colab') """

In [3]:

# Definir la ruta a los archivos en tu sistema local
try:
    path = '/home/damiatus/labPrograCientifica/Lab4'

    # Verificar si la ruta existe
    if os.path.exists(path):
        print(f"Ruta encontrada: {path}")
    else:
        raise FileNotFoundError(f"La ruta {path} no existe")

except Exception as e:
    print(f"Error al acceder a la ruta: {e}")

Ruta encontrada: /home/damiatus/labPrograCientifica/Lab4

In [4]:
conf = SparkConf().setMaster("local").setAppName("Ejemplo con RDD")

# Inicializo el Spark Context
sc = SparkContext(conf = conf)

sc

your 131072x1 screen size is bogus. expect trouble
24/09/12 10:20:48 WARN Utils: Your hostname, DESKTOP-5KHT5VQ resolves to a loopback address: 127.0.1.1; using 172.31.107.225 instead (on interface eth0)
24/09/12 10:20:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/12 10:20:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
import pyspark
from pyspark.sql import SparkSession

sparksession = SparkSession.builder.master("local").appName("Ejemplo Dataframes").getOrCreate()

In [6]:
%%capture
!wget https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/datos_lab_spark.parquet

In [7]:
df = (
    sparksession.read
    .option("header",'True')
    #.option('delimiter', ',') # Formato del delimiter en el archivo de lectura
    .parquet("datos_lab_spark.parquet")
)

### 2. Limpieza con pyspark [8 puntos]
(1 punto por pregunta)

<center>
<img src="https://miro.medium.com/v2/resize:fit:600/1*A6PpTrehGLxCJWNcUsDTNg.jpeg" width=350 />

Para comenzar con el análisis exploratorio usted decide empezar limpiando la base de datos con **pyspark** dado el alto volumen de datos que genera diariamente Bodoque E-Shop.

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCIÓN**



1.   Utilice `.printSchema()` para revisar la estructura de los datos
2.   Muestre las primeras 10 filas del dataset. Hint: utilice `.show()`
3.   Imprima un muestreo aleatorio con el 5% de los datos diponibles. . Hint: utilice `.sample()`
4. Revise los tipos de datos de cada columna con `.dtypes()` y responda la siguiente pregunta: ¿Cuál/es columna/s tiene/n un tipo de dato que no es el adecuado y por qué?
5. Cree una función **cast_columns** que permita cambiar el tipo de datos de las columnas problemáticas. Luego utilice esta función respecto a lo respondido en la pregunta anterior.
6. Cuente la cantidad de datos nulos por variable. Recuerde que Spark no posee un método que le permita calcular directamente los nulos.
7. Elimine datos nulos.
8. Elimine datos duplicados.

In [8]:
# Escriba su respuesta aquí
print("1- Revisar estructura de datos: ")
df.printSchema()
print("")
print("2- 10 filas: ")
df.show(10)
print("")
print("3- Muestreo aleatorio: ")
df.sample(fraction = 0.05, seed = 20676305).show()
print("")
print("4- Revisar datos de columna: ")
print(df.dtypes)
print("")
print("Columna con datos inadecuados: Queremos que Transaction amount sea floattype, Quantity Integertype, Costumer Age igual, Is An Alien deberia ser booleano, Account Age Days y Transaction Hour deberian ser floattype.")

1- Revisar estructura de datos:
root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: double (nullable = true)
 |-- Customer Age: double (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: double (nullable = true)
 |-- Account Age Days: double (nullable = true)
 |-- Transaction Hour: double (nullable = true)


2- 10 filas:

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|4b4a5fe1-ec4d-4f9...|d1b87f62-51b2-493...|             58.09|2022-03-24 00:00:00| bank transfer|     electronics|     1.0|        17.0|    Amandaborough|       NULL| 212.195.49.198|Unit 8934 Box 005...|Unit 8934 Box 005...|        0.0|            NULL|             5.0|
|bacd9392-73ce-481...|37de64d5-e901-4a5...|            389.96|2023-01-17 00:00:00|    debit card|     electronics|     2.0|        40.0|     East Timothy|    desktop|208.106.249.121|634 May Keys\nPor...|634 May Keys\nPor...|        0.0|            72.0|             8.0|
|d936a024-3a1d-40d...|1bac88d6-4b22-409...|            134.19|2023-06-01 00:00:00|        PayPal|   home & garden|     2.0|        22.0|       Davismouth|     tablet|   76.63.88.212|                NULL|16282 Dana Falls ...|        0.0|            63.0|            NULL|
|a30aaab5-4042-4b8...|2357c76e-9253-4ce...|            226.17|2019-07-02 00:00:00| bank transfer|        clothing|     5.0|        31.0|         Lynnberg|    desktop| 207.208.171.73|828 Strong Loaf A...|828 Strong Loaf A...|        0.0|           124.0|            20.0|
|b0634f43-d07d-4ca...|45071bc5-9588-43e...|            121.53|2020-10-26 00:00:00| bank transfer|        clothing|     2.0|        51.0|             NULL|       NULL| 190.172.14.169|29799 Jason Hills...|29799 Jason Hills...|        0.0|           158.0|            NULL|
|8c4711b8-7477-421...|29616b04-2d5c-472...|            166.41|2019-06-10 00:00:00| bank transfer|    toys & games|    NULL|        34.0|     Herreramouth|     tablet|           NULL|5699 Brittany Vil...|120 Kristi Dale\n...|       NULL|            38.0|            10.0|
|fd0342fe-6b16-4a3...|fe21ae29-ba4c-424...|             92.88|2020-10-09 00:00:00|        PayPal|    toys & games|     2.0|        14.0|        Ramosfort|     tablet|   13.45.27.192|                NULL|727 Gibson Island...|        0.0|           119.0|            19.0|
|2d7299de-355b-479...|024257c3-5671-4de...|            318.14|2021-10-09 00:00:00|   credit card| health & beauty|     4.0|        42.0|             NULL|    desktop|131.141.230.185|3914 Davis Union\...|                NULL|        0.0|           251.0|            NULL|
|de51c9df-ab52-43a...|                NULL|              NULL|2019-03-22 00:00:00| bank transfer|   home & garden|    NULL|        38.0|       Carneyfurt|       NULL|           NULL|47893 Maldonado S...|                NULL|        0.0|           190.0|            19.0|
|                NULL|aab93e75-582f-445...|            121.78|2022-02-28 00:00:00| bank transfer| health & beauty|     4.0|        39.0|       Brockburgh|     mobile| 174.32.252.238|2334 Briana Cente...|2334 Briana Cente...|        0.0|           343.0|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 10 rows


3- Muestreo aleatorio:
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|86c1ad20-bc92-410...|                NULL|            404.27|2019-11-13 00:00:00|   credit card|     electronics|     2.0|        17.0|             NULL|     mobile| 138.253.244.35|4917 Richard Spur...|                NULL|        0.0|           348.0|             3.0|
|be6661d0-40b1-42b...|4bc2448c-c33e-405...|            542.49|2018-07-01 00:00:00|        PayPal|            NULL|     2.0|        40.0|    Castillomouth|     tablet| 29.113.189.158|6107 Yolanda View...|6107 Yolanda View...|        0.0|            NULL|            NULL|
|fa75875e-8dc3-4ff...|e75e17f3-65bd-40d...|            106.72|               NULL|   credit card| health & beauty|     3.0|        NULL| South Kathyville|     mobile|223.133.208.242|8275 Dixon Key Ap...|8275 Dixon Key Ap...|        0.0|            NULL|             4.0|
|6543090e-1f3e-4ce...|20e10fdd-a900-4ae...|             382.0|               NULL|   credit card|     electronics|    NULL|        NULL|       Clinemouth|    desktop|    22.52.24.70|290 Holmes Island...|290 Holmes Island...|        0.0|           273.0|            15.0|
|c0c8147a-3d7c-45f...|35542862-daa7-4d6...|            122.84|2018-04-12 00:00:00|          NULL|            NULL|     3.0|        60.0|             NULL|    desktop|  23.24.185.173|88362 Ashley Stra...|                NULL|        0.0|            NULL|            12.0|
|                NULL|d8308a3d-d476-423...|            460.35|               NULL|   credit card|     electronics|     3.0|        NULL|       Reyesmouth|     tablet|  75.233.39.194|453 Osborne Inlet...|453 Osborne Inlet...|       NULL|           241.0|            NULL|
|53de16d4-d9a6-47a...|b33e9f30-8d0c-43b...|            158.77|2024-07-20 00:00:00| bank transfer|            NULL|     1.0|        30.0|      Melindaview|       NULL|           NULL|                NULL|85714 Stephen Dal...|       NULL|            NULL|             2.0|
|2fd0fb49-4d6c-4f1...|a7f8b5aa-5dbf-4e9...|            181.91|2022-04-13 00:00:00|   credit card|            NULL|    NULL|        36.0|       Georgebury|     tablet|   179.69.29.67|061 Elaine Motorw...|                NULL|        0.0|           267.0|             9.0|
|55d8f5ca-3b54-4cc...|09df8070-c3cd-4eb...|              NULL|2022-08-08 00:00:00| bank transfer|    toys & games|    NULL|        29.0|    West Ryanfort|     mobile|158.208.137.224|7870 Lopez Key Ap...|7870 Lopez Key Ap...|        0.0|           222.0|             3.0|
|83d14194-a9ca-4b5...|2a8e6b64-922a-453...|            471.51|2022-02-10 00:00:00|        PayPal|            NULL|     5.0|        34.0|   Velazquezmouth|    desktop|  222.3.176.187|PSC 2621, Box 403...|                NULL|        0.0|           307.0|            NULL|
|bea24f19-cda7-482...|6164bc48-3baf-4b4...|            205.33|               NULL| bank transfer| health & beauty|    NULL|        27.0| Katherinechester|       NULL|           NULL|5629 Benjamin Str...|5629 Benjamin Str...|        0.0|           109.0|            NULL|
|4cbf6005-bbcd-483...|83db4b25-abeb-4d6...|            300.31|2020-11-30 00:00:00|          NULL|   home & garden|     3.0|        36.0|             NULL|     mobile|           NULL|151 Pratt Ports A...|151 Pratt Ports A...|        1.0|           263.0|            23.0|
|7b82fea9-1645-411...|                NULL|            230.64|2019-01-03 00:00:00| bank transfer|        clothing|     1.0|        42.0|       Port Jason|       NULL|     43.5.49.69|43698 Dwayne Well...|43698 Dwayne Well...|        0.0|           250.0|             5.0|
|d95d40cd-a3cb-4d4...|1d4b3028-8a7b-449...|              88.8|2024-04-02 00:00:00|    debit card|     electronics|     2.0|        39.0|  East Kristafurt|    desktop|  26.88.217.249|                NULL|Unit 8401 Box 612...|        0.0|           206.0|            NULL|
|184f5f29-d55b-497...|ed532b0d-0db1-41b...|            586.62|               NULL| bank transfer|     electronics|     5.0|        NULL|             NULL|       NULL|  41.140.96.140|189 Watson Juncti...|189 Watson Juncti...|        0.0|            NULL|             7.0|
|f92c553d-f416-4c6...|d7bde492-0d49-470...|             66.14|2023-05-25 00:00:00|        PayPal|     electronics|     1.0|        28.0|     Richardhaven|     tablet|           NULL|5833 Brian Pass\n...|                NULL|        0.0|           315.0|            16.0|
|ab2f01ef-5455-43e...|4e42e7f2-68a8-43a...|            300.22|2024-09-18 00:00:00| bank transfer|            NULL|     2.0|        57.0|       East James|     tablet| 153.198.144.67|4101 Jordan Orcha...|160 Michael Vista...|        0.0|           333.0|            11.0|
|443b564a-a49b-4bd...|065b0fed-8f27-4d1...|              18.2|2019-08-15 00:00:00|          NULL|        clothing|     2.0|        35.0|        Kerriland|    desktop|   19.32.97.107|Unit 5849 Box 614...|4870 Howard Mount...|        0.0|            NULL|             7.0|
|d11b6d0e-3442-4fb...|597182f7-bfa8-40e...|            514.15|2020-08-19 00:00:00|    debit card|        clothing|    NULL|        38.0|   North Samantha|       NULL| 100.158.28.175|22143 Nicolas Gro...|22143 Nicolas Gro...|        1.0|            NULL|            NULL|
|150d9ccc-3567-46c...|3f469f9f-e5e4-47a...|            439.33|               NULL|        PayPal| health & beauty|     5.0|        NULL|             NULL|     mobile|   37.10.76.125|2063 Roy Estates\...|                NULL|        0.0|           132.0|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows


4- Revisar datos de columna:
[('Transaction ID', 'string'), ('Customer ID', 'string'), ('Transaction Amount', 'double'), ('Transaction Date', 'timestamp_ntz'), ('Payment Method', 'string'), ('Product Category', 'string'), ('Quantity', 'double'), ('Customer Age', 'double'), ('Customer Location', 'string'), ('Device Used', 'string'), ('IP Address', 'string'), ('Shipping Address', 'string'), ('Billing Address', 'string'), ('Is An Alien', 'double'), ('Account Age Days', 'double'), ('Transaction Hour', 'double')]

Columna con datos inadecuados: Queremos que Transaction amount sea floattype, Quantity Integertype, Costumer Age igual, Is An Alien deberia ser booleano, Account Age Days y Transaction Hour deberian ser floattype.

In [11]:
def cast_columns(df, cols_types):
    """
    Cambia el tipo de múltiples columnas en un DataFrame de Spark.

    Parámetros:
    - df: DataFrame de Spark.
    - cols_types: Diccionario con nombres de columnas como claves y tipos de datos de Spark como valores.

    Retorna:
    - DataFrame de Spark con tipos de columnas modificados.
    """
    for col_name, new_type in cols_types.items():
        df = df.withColumn(col_name, df[col_name].cast(new_type))
    return df

print("5- Funcion cast_columns: ")
cols_to_cast = {"Transaction Amount": FloatType(), "Quantity": IntegerType(), "Customer Age": IntegerType(), "Is An Alien": BooleanType(), "Account Age Days": FloatType(), "Transaction Hour": FloatType()}
df_arreglado = cast_columns(df, cols_to_cast)
df_arreglado.printSchema()

5- Funcion cast_columns:

root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: float (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Customer Age: integer (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: boolean (nullable = true)
 |-- Account Age Days: float (nullable = true)
 |-- Transaction Hour: float (nullable = true)

In [12]:
print("6- Contar nulos por variable: ")
exprs = [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df_arreglado.columns]
df_arreglado.agg(*exprs).show()
print("")
print("7- Eliminar datos nulos: ")
df_sin_nulos = df_arreglado.na.drop(how="any")
print("")
print("8- Eliminar duplicados: ")
data = df_sin_nulos.dropDuplicates()

6- Contar nulos por variable:

+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|Transaction ID|Customer ID|Transaction Amount|Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|IP Address|Shipping Address|Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|        126886|     126847|            126840|          126831|        126877|          126814|  126966|      126826|           126781|     126911|    126929|          126734|         126804|     126828|          126886|          126953|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+


7- Eliminar datos nulos:

8- Eliminar duplicados:

### 3. Transformaciones con pyspark [6 puntos]
(1 punto por pregunta)

<center>
<img src="https://live.staticflickr.com/13/91801406_0e71d7f019_b.jpg" width=350 />

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCIÓN**

Para continuar con el análisis, los especistas de Bodoque les gustaría tener nuevas variables disponibles. Tras las notas de la reunión usted llega a la conclusión de que tiene que realizar las siguientes tareas (con el dataset preprocesado de la seccion anterior):


1.   Agregar una columna llamada "Transaction bp" con el **monto total** de la transacción en bodoque pesos. Se considera que $x$ dólares equivalen a $log(48+|x^{36}|)$ bodoque pesos.
2.   Crear una columna llamada "Transaction Month" con el mes en que se realiza una transacción.
3.   Crear la variable *Type of purchase* según la catidad de unidades vendidas de acuerdo a las siguientes categorías.
  * Compra minorista: 4 productos o menos.
  * Compra mayorista: 5 produtos o más.
4. Imprima los registros de compras hechas por alienígenas en el comecio mayorista.  Utilice `.filter()`.
5. Cuente la cantidad de compras realizadas por humanos y la cantidad de compras realizadas por alienígenas. Utilice `.groupby()`.
6. Muestre una tabla con la recaudación promedio por transacción para cada método de pago, tanto para humanos como alienígenas. Utilice `pivot()`.

In [ ]:
# Escriba su respuesta aquí

### 4. EDA [20 puntos]
(1 punto por gráfico y 1 punto por su interpretación)

<center>
<img src="https://i.pinimg.com/originals/41/7e/7b/417e7b9089bcc20c4909df8954c6e742.gif" width=400 />

Esta sección tiene como objetivo evaluar su habilidad para generar reportes y conclusiones a partir de los patrones identificados en los datos proporcionados por Bodoque. Específicamente, se enfoca en **caracterizar las transacciones** y **explorar las diferencias y similitudes en el comportamiento de humanos y aliens**. Utilice el dataset que ya incluye las transformaciones necesarias.

Por favor, asegúrese de que **todas** las visualizaciones que realice cumplan con los siguientes criterios:
- Deben ser relevantes y fáciles de interpretar.
- Cada gráfico debe incluir un título claro, nombres en los ejes y leyendas adecuadas.
- Adjunte una breve descripción interpretativa junto a cada gráfico para explicar los resultados visualizados.

Para llevar a cabo esta tarea, siga los siguientes pasos utilizando la librería de visualización de su elección (matplotlib, seaborn, plotly, etc):

1. **Conversión del DataFrame a formato pandas** (2 puntos): Pase el DataFrame procesado a formato pandas. Evite realizar transformaciones adicionales con pandas.
2. **Visualización de Variables Categóricas** (2 puntos por visualización):
   - Genere **tres gráficos de barras** que diferencien entre humanos y aliens. Analice y comente cualquier diferencia o similitud observada entre estos dos grupos.
3. **Visualización de Variables Numéricas** (2 puntos por visualización):
   - Elabore **tres distplots** para examinar las distribuciones de variables numéricas, diferenciando entre humanos y aliens. Comente las diferencias o similitudes notables.
4. **Análisis de Patrones en Transacciones** (2 puntos por visualización):
   - Cree **tres gráficos avanzados** que ayuden a identificar patrones en las transacciones. Estos gráficos deben incorporar al menos dos dimensiones y diferir de los anteriores. Algunos ejemplos podrían ser un lineplot que muestre la cantidad de transacciones mensuales por canal de venta, o un barplot que exhiba los tres productos más vendidos por canal.

Estos pasos le permitirán no solo visualizar datos complejos de manera efectiva, sino también interpretar estos datos para extraer insights valiosos acerca del comportamiento de los consumidores en el contexto de Bodoque.

In [ ]:
# Escriba su respuesta aquí

### 5. Particiones y consultas en SQL [2 puntos]

<center>
<img src="https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/misc_images/1696330143457.gif" width=400 />

El equipo de Bodoque e-shop ha solicitado que los datos estén disponibles en una tabla SQL consultable. Además, están interesados en aprovechar las funciones de ventana en SQL para análisis avanzados. Las funciones de ventana permiten realizar cálculos sobre un conjunto de filas que están relacionadas con la fila actual. Por ejemplo, UNBOUNDED PRECEDING se usa para indicar que el rango de la función de ventana comienza desde la primera fila de la partición o del conjunto de resultados, lo cual es útil para calcular sumas acumulativas hasta la fila actual. Las variaciones comunes de este uso incluyen:

- `UNBOUNDED PRECEDING` to `CURRENT ROW`: Calcula desde el inicio de la partición hasta la fila actual.
- `UNBOUNDED PRECEDING` to `UNBOUNDED FOLLOWING`: Cubre todas las filas dentro de la partición.
- `VALUE PRECEDING` to `VALUE FOLLOWING`: Establece un rango específico basado en valores antes y después de la fila actual.

<center>
<img src="https://learnsql.com/blog/sql-window-functions-rows-clause/1.png" width=500 />

Ejemplo de uso en SQL:

```sql
STAT(COL1_NAME) OVER (PARTITION BY COL2_NAME ORDER BY COL3_NAME ROWS BETWEEN X PRECEDING AND CURRENT ROW)
```


Responda y realice los siguientes puntos:

1. **Creación de Tabla con PySpark** (2 puntos):
   - Desarrolle un script utilizando PySpark para crear una tabla a partir de un DataFrame previamente transformado. Seleccione y utilice una variable específica para la partición de la tabla. Justifique su elección de esta variable considerando factores como el tamaño del DataFrame, la distribución de los datos y el impacto potencial en el rendimiento de futuras consultas.

2. **Consulta SQL para Principales Clientes** (Bonus: 2 punto):
   - Ejecute una consulta SQL para identificar los 10 clientes que más productos han comprado. La consulta debe retornar el ID del cliente junto con el total de productos comprados, ordenados en forma descendente.

3. **Implementación de Función de Ventana en SQL y Equivalente en Spark** (Bonus: 2 punto):
   - Implemente una función de ventana en SQL para calcular la compra más alta realizada por cada usuario en los últimos tres meses. Además, describa cómo se podría realizar una función equivalente en Spark, considerando las capacidades específicas de PySpark para manejar este tipo de consultas.

In [ ]:
# Código Aquí

### 6. UDF [12 puntos]

<center>
<img src="https://64.media.tumblr.com/ba8c705edd2bed0a28d9458811155d69/tumblr_pap19zg4ae1w3zg6go1_400.gifv" width=400 />



Un experto en predicciones y programación le ha proporcionado un objeto serializado (`pickle`) diseñado para calcular las probabilidades de que un cliente cometa o no un fraude. Este experto sugiere que, para maximizar las capacidades de procesamiento distribuido de Spark, debería implementar `Scalar User Defined Functions` (udf). Esto le permitirá aplicar el objeto serializado en un entorno distribuido a lo largo de toda la población de datos. Un aspecto clave de la función desarrollada por el experto es que se enfoca exclusivamente en las siguientes columnas para realizar las predicciones: `['Transaction Amount', 'Quantity', 'Customer Age', 'Transaction Hour']`.

Aparte, el experto le proporciona las siguientes instrucciones para usar las UDF en Spark:

```python
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

def custom_function(col1, col2, col3, col4):
    pass

udf_function = udf(custom_function, FloatType())
```

Basándose en la estructura proporcionada, debe desarrollar una función que ejecute un código específico. Tenga en cuenta que esta función solo puede recibir columnas de Spark y debe retornar el valor deseado. Posteriormente, deberá utilizar esta función UDF indicando la función personalizada y el formato de salida.

Siga los siguientes pasos para implementar la solución y responda las preguntas:

1. **Cargar el objeto serializado**: Revise el tipo de objeto y deduzca su función. (1 punto)
2. **Explorar el objeto**: Utilice las funciones `dir` y `help` para identificar qué método del objeto predice la probabilidad. (1 punto)
3. **Crear una función personalizada**: Elabore una función que prediga la probabilidad de fraude utilizando el último valor de la lista generada por el objeto serializado. Puede modificar el nombre de la función para reflejar su propósito. (6 puntos)
4. **Definir la función UDF**: Establezca la función UDF con la función personalizada que ha creado. (2 punto)
5. **Generar una nueva columna**: Añada una nueva columna `prediction` a su DataFrame en Spark utilizando la función UDF y muestre un ejemplo de cómo se aplica. ¿Qué beneficios podría generar utilizar udf? (2 puntos)

In [ ]:
# Código Aquí